<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004752253194-meptnelkrbm2uj32gjrhbsn7apnt55r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004752253194-meptnelkrbm2uj32gjrhbsn7apnt55r2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004752253194-fndmnjds0tg5ii71vr91o1bdvtfpel05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJiIPgzO6kxknbOuLhTt288bhg70VXQLI</string>
	<key>GCM_SENDER_ID</key>
	<string>1004752253194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saferoad</string>
	<key>PROJECT_ID</key>
	<string>saferoad-2ef0d</string>
	<key>STORAGE_BUCKET</key>
	<string>saferoad-2ef0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004752253194:ios:58dab44bb3e7a9b78d8af3</string>
	<key>DATABASE_URL</key>
	<string>https://saferoad-2ef0d-default-rtdb.firebaseio.com</string>
</dict>
</plist>